<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PreschoolEducation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0380D84F1E4CEF2000C50D22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0380D8631E4CEF2100C50D22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0380D86E1E4CEF2100C50D22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
